<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.GraphModel" version="17.12.40391" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.12.40391" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="7.10.6070" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="17.7.47" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="17.12.40391" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="7.10.6070" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Threading" version="14.1.111" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Utilities" version="14.3.25407" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Validation" version="14.1.111" targetFramework="net48" />
  <package id="Microsoft.VSSDK.BuildTools" version="17.12.2069" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VsSDK.CompatibilityAnalyzer" version="17.12.2069" targetFramework="net48" developmentDependency="true" />
  <package id="System.ComponentModel.Composition" version="8.0.0" targetFramework="net48" />
</packages>